Source: sock
Section: ucw
Priority: optional
Maintainer: Martin Mares <mj@ucw.cz>
Standards-Version: 2.1.0.0

Package: sock
Architecture: any
Depends: ${shlibs:Depends}
Description: Universal socket tool
 This program serves as an interface for network sockets for use
 in both shell scripts and manually from the command line.
